*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

/* sezione header */

header {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    background-color: #FC6901;
}

.container-header{
    display: flex;
    align-items: center;
    width: 1280px;
    /* DEBUG */
    /* background-color: red; */
}

.categorie {
    font-size: 20px;
    width: 20%;
}
#link-categorie {
    text-decoration: none;
    color: white;
    padding-right: 5px;
}

.logo {
    display: flex;
    justify-content: center;
    width: 80%;
}
#logo-boolean {
  max-width: 25%;
  height: auto;
}    

.icone {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: white;
    width: 20%;
}
#icone-utente {
    padding-left: 5px;
}

/* sezione prodotti */

.container {
width: 1280px;
margin: 0 auto;
padding-top: 100px;
}

.griglia-prodotti {
display: flex;
flex-wrap: wrap;
gap: 10px;
}

.colonna {
width: calc((100% / 3) - (20px /3));
}

.prodotto {
position: relative;
text-align: center;
cursor: pointer;
}
.prodotto img {
    max-width: 100%;
}

.didascalia {
display: flex;
flex-direction: column;
align-items: flex-start;
}
#marca {
font-size: 12px;
}
#abbigliamento {
font-weight: 500;
font-size: 20px;
}
#prezzo-attuale {
font-size: 16px;
color: red;
}
#prezzo-pre-sconto {
font-size: 16px;
text-decoration: line-through;
}

.sconto {
background-color: red;
font-size: 20px;
padding: 5px;
font-weight: bold;
color: white;
position: absolute;
bottom: 130px;
left: 0;
}
.green {
background-color: green;
font-size: 20px;
padding: 5px;
font-weight: bold;
color: white;
position: absolute;
bottom: 130px;
left: 60px;
}
.heart {
background-color: white;
font-size: 30px;
padding: 5px;
font-weight: bold;
color: black;
position: absolute;
top: 5px;
right: 0px;
}









/* sezione del footer */

footer {
display: flex;
justify-content: center;
width: 100%;
height: 100px;
background-color: #1A1A1A;
}

.container-footer {
display: flex;
justify-content: space-between;
align-items: center;
color: white;
font-size: 20px;
width: 1280px;
/* DEBUG */
/* background-color: red;
height: 100px; */
}

.link-privacy {
color: white;
font-size: 15px;
text-decoration: none;
padding-right: 5px;
}

#icone-social {
padding: 5px;
}